*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 4%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{

    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

    transition: .2s linear;

}

.logo:hover{
    color: #fff;
    transform: scale(1.1);
  text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #0fa,
    0 0 2px #0fa,
    0 0 2px #0fa,
    0 0 2px #0fa,
    0 0 2px #0fa;
    
}


.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    padding: 20px 20px;
    transition: .5s;
}



.home{
    height: 100vh;
    background: #081b29;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 10%;
    flex-wrap: wrap;
    width: 100%;
}
.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 18px;
    margin: 20px 0 40px;
    letter-spacing: 1.5px;
    line-height: 25px;
    word-spacing: 1px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.btn-box a{
    position: relative;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;

    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}



.btn-box a:hover, .navbar a:hover{
    background-color: yellowgreen;
    color: #fff;
}


.home-sci{
    position: absolute;
    bottom: 75px;
    width: 250px;
    display: flex;
    left: 15%;
    justify-content: space-between;
}

.home-sci a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 5%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    transition: all 0.4s;
    padding:5px;
}

.box-photo{
    position: absolute;
    width: 600px;
    height: 550px;
    left: 50%;
    top: 20vh;
}

#facebook:hover{
    transform: scale(1.2);
    border: 4px solid #fff;
    color: #fff;
}
#linkedin:hover{
    transform: scale(1.2);
    border: 4px solid #fff;
    color: #fff;
}
#twitter:hover{
    transform: scale(1.2);
    border: 4px solid #fff;
    color: #fff;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
}



.education-page{

    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
}






.education-background{
    position: absolute;
    background: url('img/education-background.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    opacity: 5%;

}



.box-container{

    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffff;
    border-radius: 2%;
    opacity: 70%;
}

.box-container h3{
    font-size: 1.4em;
    font-family: 'Poppins', sans-serif;
    color: #3f3f3f;
    transition: .3s;
    margin: 20px 0;
}

.box-container h3:hover{
    color: #000;
    cursor: pointer;
    transform: scale(1.1);

}

.box-container:hover{
    background: #ffff;

}



.portfolio-background{
    position: absolute;
    background: url('img/portfolio-background.webp') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 5%;
}

.portfolio-page{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: center;

}


.ebox-container{
    position: absolute;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.box{
    
    width: 250px;
    height: 300px;
    background: #fff;
    margin: 0 15px 0 15px;
    border-radius: 2%;
    border-color: #ededed;
    transition: .3s;
}


.box:hover{
    transform: scale(2);

}


/*-------------------------------------------------------------------------*/
.contact-container{

    width: 100%;
    height: 100vh;
    background: #081b29;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin: 10px auto;
}

form input, form textarea{

    border: 0;
    margin: 10px auto;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 12px;
    width: 750px;
}
form button{

    margin: 10px auto;
    padding: 20px;
    font-size: 12px;
    width: 750px;
}

.background{
    position: absolute;
    background: url('img/email.jpg');
    width: 100%;
    height: 100vh;
    opacity: 5%;
}